h1= title
p Welcome to #{title}
p 現在このページを見ている人は
  span#count
  人います。
p 誰かが
  span#soundID
  を再生しました。
audio#b_071(preload="auto",src="sounds/b_071.mp3",type="audio/mp3")
audio#b_072(preload="auto",src="sounds/b_072.mp3",type="audio/mp3")
audio#b_073(preload="auto",src="sounds/b_073.mp3",type="audio/mp3")
audio#b_074(preload="auto",src="sounds/b_074.mp3",type="audio/mp3")
audio#b_075(preload="auto",src="sounds/b_075.mp3",type="audio/mp3")
audio#b_076(preload="auto",src="sounds/b_076.mp3",type="audio/mp3")
audio#b_077(preload="auto",src="sounds/b_077.mp3",type="audio/mp3")
audio#b_078(preload="auto",src="sounds/b_078.mp3",type="audio/mp3")
audio#b_079(preload="auto",src="sounds/b_079.mp3",type="audio/mp3")
